<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <div class="container">
        <h1>Welcome to Users Module</h1>

        <div class="row-2">
            <h2>Existing Users</h2>
            <a href="login"><button>Login</button></a>
        </div>

        <div class="row-2">
            <h2>New Users</h2>
            <a href="register"><button>Register</button></a>
        </div>

    </div>
</body>

</html>